# deps
node_modules/
# env
.env
.env.local
# build
dist/
build/
out/
cache/
broadcast/
# prisma sqlite
# misc
.DS_Store
*.log
*.tsbuildinfo
backend/uploads/
backend/prisma/*.db
backend/prisma/*.db-journal
